<form accept-charset="UTF-8" action="/users" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[username]"><br>
  <label for="username">Email</label>
  <input type="text" name="user[email]"><br>
  <label for="username">Password</label>
  <input type="password" name="user[password]"><br>
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>